html {
    color: salmon;
}

body {
    color: darkslateblue;
    background-color:azure
}

h1 {
    color: sandybrown;
    background-color: aquamarine;
    font-family: "arial"
}

.cis-260 {
    color: saddlebrown;
    background-color: darkseagreen;
    font-family: fantasy
        
}

.balababa {
    color: skyblue;
    background-color: cadetblue
}

p {
    color: #75bcab;
    font-size: 72pt;
    background-color: mistyrose
}

a{
    color: aquamarine
}

h2{
    font-family: monospace;
    font-weight: 900
}